{% extends 'users/base.html.twig' %}

{% block title %}
    Bienvenue
{% endblock %}

{% block main %}
    <h1 class="center"> Bienvenue sur la Karroot Gaming</h1>
    <article class="flex divcbd">
        <div class="textArticles">
            <div class="textHome">
                <h2 class="center">Pourquoi utiliser du CBD ?</h2>
                <p class="center">Le CBD est bien connu pour ses vertus calmantes et apaisantes, mais aussi pour favoriser la concentration de n’importe qui. Plus exactement, le CBD vient agir contre les facteurs qui empêchent cette concentration, comme le manque de sommeil ou le stress. Prendre du CBD peut s’assimiler à un shoot de caféine pour l’organisme.

                    En consommant du CBD, un joueur de eSport a donc plus de chances d’augmenter ses performances grâce à une concentration décuplée. Cette concentration est d’autant plus essentielle que la moindre seconde d’inattention peut mener à une perte ou un échec sur un jeu en réseau. Et bien d'autres avantages non négligeables comme par exemple:
                    <br> <br>- Minimiser les blessures physiques <br>
                    - Améliorer les performances cognitives <br>
                    - Maîtriser le stress et l’anxiété <br>
                    - Favoriser une meilleure routine de champion
                </p>
            </div>
        </div>
        <div class="photoHome">
            <img class="imgPhotoHome" src="../public/img/210525_joueurs.jpg" alt="photo de joueurs de jeu vidéo">
        </div>
    </article>
    <article>
        <div class="flex divcbd">
            <img src="../public/img/Cassis-Framboise-min_600x.png" alt="Photo d'un produit de la gamme REZ">
            <div class="textArticles">
                <h2 class="center">Les boissons énérgisantes et le gaming</h2>
                <p class="center">Que vous soyez un gamer professionnel ou plutôt occasionnel, vous savez que pour avoir de bons scores et de bons résultats il est essentiel de combiner bons réflexes et rapidité d’exécution. Qui n’a jamais regretté d’avoir perdu une partie ou une LAN à cause de la fatigue ou du manque de concentration ? Pour palier à ça, une bonne boisson énergisante française bien fraîche entre deux games est toujours la bienvenue ! Malheureusement, les boissons énergisantes françaises ou étrangères les plus connues contiennent énormément de sucre et deviennent mauvaises pour la santé si elles sont consommées de manière trop régulière. Pour palier à ce problème, le fabricant REZ a développé toute une gamme de ces boissons optimisée pour les gamers : les avantages sont toujours présents et les inconvénients ont disparu, vous pouvez donc désormais profiter du coup de fouet et de l’énergie qu’apporte ce type de boissons sans mettre en danger votre santé. Cette marque française propose également des goûts différents et plus naturels que l’arôme très chimique et sucré qu’ont généralement ces boissons lorsqu’on achète les grandes marques présentes dans le commerce. L’occasion de découvrir une boisson énergisante française et bonne pour la santé !</p>
            </div>
        </div>
    </article>
{%  endblock main %}
