{% extends 'users/base.html.twig' %}
{% block main %}
    <article class="divcbd flex">
        <div class="center">
            <h1>Qui sommes nous ?</h1>
            <p>Passionnés de l'univers jeux vidéos, a la recherche de performances "in-game", nous avons voulu sur ce site vous parler des bienfaits de produits, qui aident entre autre a la concentration lors de vos longues sessions de jeu. Produits a base de CBD, boissons énergisantes sans sucres, peuvent par exemple participer a améliorer vos compétences tout en prenant soin de vous.</p>
        </div>
        <img class="imgPresentation" src="../public/img/218059389_962324007938759_1984288840051926315_n.jpg" alt="Photo des créateurs de la karroot">
    </article>
{% endblock main %}